@define-color bg #282828;
@define-color fg #ebdbb2;
@define-color border #3c3836;
@define-color hover #d79921;
@define-color alert #cc241d;

* {all: unset;}

#waybar>box {background-color: @bg; border-bottom: 1px solid @border;}

#mpris, #workspaces button, .modules-right>widget>* {font-family: "Ubuntu Sans"; font-size: 14px; color: @fg; padding: 4px 8px;}

menu, tooltip {background-color: @bg; border: 1px solid @border;}
menuitem, tooltip label {color: @fg; padding: 2px; margin: 2px;}

#workspaces button:hover, #workspaces button.focused, #workspaces button.active,
#mpris:hover, .modules-right>widget>*:hover, menu menuitem:hover {color: @hover;}

#workspaces button.urgent {color: @alert;}
