@import "colors.rasi"
window{
height:500px;
width:500px;
}
mainbox{
background-color:@background;
border:2px;
padding:16px;
children:[inputbar,listview];
}
inputbar{
background-color:@input;
padding:12px;
margin:0px 50px 16px 50px;
children:[entry];
}
element-text{
padding:16px;
vertical-align:0.5;
}
configuration{
show-icons:true;
drun-display-format:"{name}";
}
element-icon{
size:34px;
padding:0px 0px 0px 16px;
}
element selected{
background-color:@hover;
}
