layout {
border {
active-color "#000000"
inactive-color "#bfbfbf"
urgent-color "#ffffff"
}
}
window-rule {
geometry-corner-radius 20
}
window-rule {
match app-id="^Alacritty$"
background-effect {
blur true
xray true
}
}
